{
  "token": "NDU5NzM1MTU0ODE1MTM5ODQw.Dg6rTA.MoNEQ2k3Qv8zwd-TK0ansOMD2v4",
  "prefix": "x!",
  "botID": "459735154815139840",
  "ownerID": "uzi#1753",
  "googleAPI": "AIzaSyB55tLFdHncg2ZmAhki_AaeYAsUEsRfkZA",
}
